@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  font-family: theme('fontFamily.headings');
  font-weight: 700;
}

blockquote, q {
  font-family: theme('fontFamily.subHeading');
  font-weight: 400;
}

body {
  font-family: theme('fontFamily.text');
  font-weight: 300;
  background-color: theme('backgroundColor.black');
  color: theme('colors.white');
  overflow-x: hidden;
  letter-spacing: 1.5px;
}